.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}
.header_wrap {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header_wrap img {
  width: 180px;
  height: 50px;
}
.header_list {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 20px;
}
.header_list li {
  cursor: pointer;
}
.header_auth {
  display: flex;
  gap: 40px;
}
.btn_signup {
  background-color: hsl(180, 66%, 49%);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}
.btn_login {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
