.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: #f0f1f6;
  padding-block: 80px;
}
.statistics_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.statistics_cards {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  width: 75%;
  font-size: 20px;
  text-align: justify;
}
.statistics_details h2 {
  font-size: 50px;
  font-weight: 600;
}
.statistics_details p {
  font-size: 20px;
  font-weight: 600;
  width: 600px;
  word-wrap: break-word;
  text-align: center;
  color: gray;
}
