.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: #f0f1f6;
  padding-block: 80px;
}
.statistics_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
.statistics_cards {
  display: flex;
  gap: 40px;
  margin-inline: 200px;
  padding-inline: 10px;
  /* background-color: aqua; */
  height: 400px;
}
.statistics_details h2 {
  font-size: 50px;
  font-weight: 600;
}
.statistics_details p {
  font-size: 20px;
  font-weight: 600;
  width: 600px;
  word-wrap: break-word;
  text-align: center;
  color: gray;
}
.statistics_cards_second {
  margin-top: 60px;
}
.statistics_cards_third {
  margin-top: 120px;
}
/* .statistics_cards_line {
  position: absolute;
  z-index: 0;
  left: 26%;
  bottom: 2%;
  display: block;
  width: 40%;
  height: 8px;
  content: "";
  z-index: 0;
  background-color: aqua;
} */

@media only screen and (max-width: 1024px) {
  .statistics {
    flex-direction: column;
    padding-bottom: 800px;
  }
  .statistics_details {
    flex-direction: column;
  }
  .statistics_cards {
    flex-direction: column;
    width: 100%;
    margin-inline: 0px;
    align-items: center;
    gap: 2px;
  }
  .statistics_cards_first {
    margin-top: 60px;
  }
  .statistics_cards_second {
    margin-top: 60px;
  }
  .statistics_cards_third {
    margin-top: 60px;
  }
}
