.footer {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  background-color: tomato;
  height: 100%;
  padding-inline: 200px;
  padding-block: 50px;
  background-color: #232027;
  color: white;
  gap: 300px;
}
.footer_logo {
  color: white;
  font-weight: bold;
  font-size: 50px;
}
.footer_links {
  display: flex;
  gap: 80px;
}
.footer_links_items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_links_items h4 {
  font-size: 20px;
  font-weight: bold;
}
.footer_links_items a {
  text-decoration: none;
  color: gray;
  white-space: nowrap;
}
.footer_links_items a:hover {
  color: hsl(180, 66%, 49%);
}
.footer_icons {
  display: flex;
  gap: 10px;
}
.footer_icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
