.slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 200px;
  margin-bottom: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.slide_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.slide_wrapper h1 {
  font-size: 40px;
  font-weight: bold;
}
.slide_wrapper p {
  font-size: 20px;
  width: 500px;
  word-wrap: break-word;
  text-align: left;
  color: gray;
}
.slide_wrapper button {
  /* padding: 20px 30px; */
  width: 150px;
  background-color: hsl(180, 66%, 49%);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}
.slide_wrapper button:hover {
  opacity: 0.6;
}
.slide_image {
  max-width: 40%;
}

/* Media Query */

@media only screen and (max-width: 1224px) {
  .slide {
    padding-inline: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .slide {
    flex-direction: column;
    padding-inline: 50px;
  }
  .slide_wrapper h1 {
    text-align: center;
  }
  .slide_wrapper p {
    text-align: center;
  }
  .slide_wrapper button {
    margin-inline: auto;
  }
  .slide_image {
    order: -1;
    max-width: 100%;
  }
}
